<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener
			class-name="com.endclothing.automation.listeners.ExtentListener"></listener>
	</listeners>
	<test  name="Test1">

		<classes>
			<class name="com.endclothing.automation.tests.ClothingPageTest"></class>
			<class name="com.endclothing.automation.tests.SearchProductsPageTest"></class>
		</classes>
	</test> 
</suite> 
